## RECOMENDATION SYSTEM

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

CONVERTED THE CSV INTO DATAFRAME

In [5]:
df=pd.read_csv('Anime.csv')

In [6]:
df=pd.DataFrame(df)

In [7]:
pd.set_option('display.max_columns',28)
df.head(3)

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,End_Aired,Premiered,Broadcast,Producers,Licensors,Studios,Source,Genres,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013","Sep 29, 2013",Spring 2013,Sundays at 0158 (JST),"Production I.G, Dentsu, Mainichi Broadcasting ...",Funimation,Wit Studio,Manga,"Action, Drama","Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006","Jun 27, 2007",Fall 2006,Wednesdays at 0056 (JST),"VAP, Konami, Ashi Productions, Nippon Televisi...",VIZ Media,Madhouse,Manga,"Supernatural, Suspense",Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009","Jul 4, 2010",Spring 2009,Sundays at 1700 (JST),"Aniplex, Square Enix, Mainichi Broadcasting Sy...","Funimation, Aniplex of America",Bones,Manga,"Action, Adventure, Drama, Fantasy",Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772

CHECKED ANY NULL VALUES PRESENT IN IT

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(12937, 28)

In [10]:
df.isnull().sum()

ID                  0
Title               0
Synonyms            0
Japanese            0
English             0
Synopsis            0
Type                0
Episodes            0
Status              0
Start_Aired         0
End_Aired           0
Premiered           0
Broadcast           0
Producers           0
Licensors           0
Studios             0
Source              0
Genres              0
Themes              0
Demographics        0
Duration_Minutes    0
Rating              0
Score               0
Scored_Users        0
Ranked              0
Popularity          0
Members             0
Favorites           0
dtype: int64

STATISTICAL MEASURE OF OUR DATASET

In [11]:
df.describe()

,ID,Episodes,Duration_Minutes,Score,Scored_Users,Ranked,Popularity,Members,Favorites
count,12937.000000,12937.000000,12937.000000,12937.000000,12937.000000,12937.000000,12937.000000,1.293700e+04,12937.000000
mean,20958.639561,12.519054,25.919379,6.462104,29411.286852,65462.073433,7563.353405,6.326947e+04,741.939862
std,16074.799263,52.121692,26.241863,0.925257,89649.096187,37915.354758,4743.123821,1.969991e+05,5442.203794
min,1.000000,1.000000,1.000000,1.841000,101.000000,12.000000,1.000000,1.720000e+02,0.000000
25%,4719.000000,1.000000,6.000000,5.831000,383.000000,32602.000000,3338.000000,1.136000e+03,1.000000
50%,19669.000000,2.000000,23.000000,6.481000,1982.000000,65322.000000,7364.000000,5.295000e+03,7.000000
75%,35935.000000,12.000000,26.000000,7.141000,14512.000000,98402.000000,11570.000000,3.439400e+04,71.000000
max,53075.000000,3057.000000,168.000000,9.131000,997243.000000,131202.000000,18014.000000,3.524109e+06,207772.000000

CHECKED IF ANY DUPLICATES IS PRESENT IN OUR DATASET

In [12]:
df.any().duplicated()

ID                  False
Title                True
Synonyms             True
Japanese             True
English              True
Synopsis             True
Type                 True
Episodes             True
Status               True
Start_Aired          True
End_Aired            True
Premiered            True
Broadcast            True
Producers            True
Licensors            True
Studios              True
Source               True
Genres               True
Themes               True
Demographics         True
Duration_Minutes     True
Rating               True
Score                True
Scored_Users         True
Ranked               True
Popularity           True
Members              True
Favorites            True
dtype: bool

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12937 entries, 0 to 17988
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                12937 non-null  int64
 1   Title             12937 non-null  object
 2   Synonyms          12937 non-null  object
 3   Japanese          12937 non-null  object
 4   English           12937 non-null  object
 5   Synopsis          12937 non-null  object
 6   Type              12937 non-null  object
 7   Episodes          12937 non-null  float64
 8   Status            12937 non-null  object
 9   Start_Aired       12937 non-null  object
 10  End_Aired         12937 non-null  object
 11  Premiered         12937 non-null  object
 12  Broadcast         12937 non-null  object
 13  Producers         12937 non-null  object
 14  Licensors         12937 non-null  object
 15  Studios           12937 non-null  object
 16  Source            12937 non-null  object
 17  Genres            12937 non-null  object
 18  Themes            12937 non-null  object
 19  Demographics      12937 non-null  object
 20  Duration_Minutes  12937 non-null  float64
 21  Rating            12937 non-null  object
 22  Score             12937 non-null  float64
 23  Scored_Users      12937 non-null  float64
 24  Ranked            12937 non-null  float64
 25  Popularity        12937 non-null  int64
 26  Members           12937 non-null  int64
 27  Favorites         12937 non-null  int64
dtypes: float64(5), int64(4), object(19)
memory usage: 2.9+ MB

In [14]:
df['Score'].dtype

dtype('float64')

In [15]:
df.columns

Index(['ID', 'Title', 'Synonyms', 'Japanese', 'English', 'Synopsis', 'Type',
       'Episodes', 'Status', 'Start_Aired', 'End_Aired', 'Premiered',
       'Broadcast', 'Producers', 'Licensors', 'Studios', 'Source', 'Genres',
       'Themes', 'Demographics', 'Duration_Minutes', 'Rating', 'Score',
       'Scored_Users', 'Ranked', 'Popularity', 'Members', 'Favorites'],
      dtype='object')

In [16]:
df.head(3)

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,End_Aired,Premiered,Broadcast,Producers,Licensors,Studios,Source,Genres,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013","Sep 29, 2013",Spring 2013,Sundays at 0158 (JST),"Production I.G, Dentsu, Mainichi Broadcasting ...",Funimation,Wit Studio,Manga,"Action, Drama","Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006","Jun 27, 2007",Fall 2006,Wednesdays at 0056 (JST),"VAP, Konami, Ashi Productions, Nippon Televisi...",VIZ Media,Madhouse,Manga,"Supernatural, Suspense",Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009","Jul 4, 2010",Spring 2009,Sundays at 1700 (JST),"Aniplex, Square Enix, Mainichi Broadcasting Sy...","Funimation, Aniplex of America",Bones,Manga,"Action, Adventure, Drama, Fantasy",Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772

AS MUCH I CAN SEE . AS AN ANIME FAN IF I LIKE THE ANIME WE ARE NOT GOING TO SEE ALL THESE THING LIKE SCORES BY THE USERS etc...
SO I DROP THOSE COLUMNS ACCORDING TO MY OPININON.

In [17]:
df.drop(['Title', 'Synonyms', 'Japanese','Start_Aired', 'End_Aired','Broadcast','Licensors','Source','Themes','Duration_Minutes','Scored_Users', 'Ranked','Members', 'Favorites','Popularity'],axis=1,inplace=True)

In [18]:
df.shape

(12937, 13)

In [19]:
df.head(3)

,ID,English,Synopsis,Type,Episodes,Status,Premiered,Producers,Studios,Genres,Demographics,Rating,Score
0,16498,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,Spring 2013,"Production I.G, Dentsu, Mainichi Broadcasting ...",Wit Studio,"Action, Drama",Shounen,R - 17+ (violence & profanity),8.531
1,1535,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,Fall 2006,"VAP, Konami, Ashi Productions, Nippon Televisi...",Madhouse,"Supernatural, Suspense",Shounen,R - 17+ (violence & profanity),8.621
2,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,Spring 2009,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Bones,"Action, Adventure, Drama, Fantasy",Shounen,R - 17+ (violence & profanity),9.131

In [20]:
df.isna().sum()

ID              0
English         0
Synopsis        0
Type            0
Episodes        0
Status          0
Premiered       0
Producers       0
Studios         0
Genres          0
Demographics    0
Rating          0
Score           0
dtype: int64

THE LEFTED COLUMNS WITH WHICH WE ARE LEFT

In [21]:
df.columns

Index(['ID', 'English', 'Synopsis', 'Type', 'Episodes', 'Status', 'Premiered',
       'Producers', 'Studios', 'Genres', 'Demographics', 'Rating', 'Score'],
      dtype='object')

USE THE SIMPLEIMPUTER FOR FILLING ALL THE NAN VALUES IN EPISODES AND SCORE TO GET A BIAS AND ACCURATE RECOMMENDATION

In [22]:
ct=ColumnTransformer(transformers=[("tf1",SimpleImputer(strategy='median'),['Episodes','Score'])],remainder='passthrough')
df=pd.DataFrame(ct.fit_transform(df),columns=['Episodes','Score','ID', 'English', 'Synopsis', 'Type',  'Status', 'Premiered',
       'Producers', 'Studios', 'Genres', 'Demographics', 'Rating'
       ],)
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,25.0,8.531,16498,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,Finished Airing,Spring 2013,"Production I.G, Dentsu, Mainichi Broadcasting ...",Wit Studio,"Action, Drama",Shounen,R - 17+ (violence & profanity)
1,37.0,8.621,1535,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,Finished Airing,Fall 2006,"VAP, Konami, Ashi Productions, Nippon Televisi...",Madhouse,"Supernatural, Suspense",Shounen,R - 17+ (violence & profanity)
2,64.0,9.131,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,Finished Airing,Spring 2009,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Bones,"Action, Adventure, Drama, Fantasy",Shounen,R - 17+ (violence & profanity)

In [23]:
df.isnull().sum()

Episodes        0
Score           0
ID              0
English         0
Synopsis        0
Type            0
Status          0
Premiered       0
Producers       0
Studios         0
Genres          0
Demographics    0
Rating          0
dtype: int64

HERE WE CONVERT THE DATATYPE OF THE EPISODES AND SCORES FROM FLOAT TO STRING SO THAT WE CAN DO OPEARTION FURTHER..

In [24]:
df['Episodes']=df['Episodes'].astype(str)
df['Score']=df['Score'].astype(str)
df['Rating']=df['Rating'].astype(str)
df['Demographics']=df['Demographics'].tolist()
def c(x):
    l=[]
    for i in x.split(' '):
        l.append(f"{i}")
    return l
def ch(x):
    l=[]
    for i in x.split(' '):
        l.append(f"{i}")
    return l  
def pri(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i} ")
    return l    
def tpe(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l 
def st(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l 
def de(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l
def std(x):
    l=[]
    for i in x.split(','):
        l.append(f"{i}")
    return l 
def gen(x):
    l=[]
    for i in x.split(','):
        l.append(f" {i}")
      
    return l
def rat(x):
    l=[]
    for i in x.split(','):
        l.append(f" {i}")
    return l 
def prod(x):
    l=[]
    for i in x.split(','):
        l.append(i)
    return l
def change(x):
    l=[]
    for i in x.split(','):
        l.append(i)
    return l

APPLY ALL THE CHANGES OR OPERATION NEEDED FOR MAKIN THESE THING IN WORK

In [25]:
df['Synopsis']=df['Synopsis'].apply(change)
df['Type']=df['Type'].apply(tpe)
df['Status']=df['Status'].apply(st)
df['Premiered']=df['Premiered'].apply(pri)
df['Studios']=df['Studios'].apply(std)
df['Genres']=df['Genres'].apply(gen)
df['Rating']=df['Rating'].apply(rat).tolist()
df['Producers']=df['Producers'].apply(prod)
df['Demographics']=df['Demographics'].apply(de)
df['Episodes']=df['Episodes'].apply(ch)
df['Score']=df['Score'].apply(c)

SLICE THE SYNOPSIS AND ALSO THE PRODUCERS NAME TO..

In [26]:
df['Synopsis']=df['Synopsis'].apply(lambda x: x[:3])
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu, Mainichi Broadcasti...",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami, Ashi Productions, Nippon Tele...",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix, Mainichi Broadcasting...",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [27]:

df['Producers']=df['Producers'].apply(lambda x: x[:2])

In [28]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu]",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami]",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix]",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [29]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu]",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami]",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix]",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [30]:
df.head(1)['Producers'].values

array([list(['Production I.G', ' Dentsu'])], dtype=object)

In [31]:
df['Synopsis']=df['Synopsis'].apply(lambda x:[i.replace(",",'') for i in x] )
df['Type']=df['Type'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Status']=df['Status'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Premiered']=df['Premiered'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Studios']=df['Studios'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Genres']=df['Genres'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Rating']=df['Rating'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Producers']=df['Producers'].apply(lambda x:[i.replace(" ",'') for i in x] )

In [32]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[TV],"[Finished, Airing]","[Spring, 2013]","[ProductionI.G, Dentsu]",[WitStudio],"[Action, Drama]",[ Shounen],[R-17+(violence&profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[TV],"[Finished, Airing]","[Fall, 2006]","[VAP, Konami]",[Madhouse],"[Supernatural, Suspense]",[ Shounen],[R-17+(violence&profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[TV],"[Finished, Airing]","[Spring, 2009]","[Aniplex, SquareEnix]",[Bones],"[Action, Adventure, Drama, Fantasy]",[ Shounen],[R-17+(violence&profanity)]

AFTER THAT AS ALL THE THINGS DONE I CONCATENATED ALL THE COLUMNS IN ONE  WHICH IS '''df[ABOUT]'''

In [33]:
df['About']=  df['Synopsis']+df['Genres'] + df['Premiered'] + df['Producers'] + df['Status'] + df['Studios'] + df['Type']+df['Episodes']+df['Score']+df['Demographics']+df['Rating']

In [34]:
df.drop(['Synopsis','Type','Status','Premiered','Producers','Studios','Genres','Demographics','Rating','Episodes','Score'],axis=1,inplace=True)

AFETR CONCATINATING HERE WHAT I GOT

In [35]:
df

,ID,English,About
0,16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne..."
1,1535,Death Note,"[Brutal murders, petty thefts, and senseless..."
2,5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...
3,30276,One Punch Man,[The seemingly unimpressive Saitama has a rath...
4,11757,Sword Art Online,[Ever since the release of the innovative Nerv...
...,...,...,...
12932,41763,O Light,"[Unknown, Unknown, Unknown, Unknown, Finished,..."
12933,51893,Unknown,[Animated music video for the song Mr. by YOAS...
12934,41308,Unknown,[Greenlights Serenade is an original song by O...
12935,51573,Unknown,"[Music video for the song Heart Beat by AZKi.,..."
12936,52454,Unknown,"[Unknown, Unknown, Unknown, Unknown, Finished,..."

In [36]:
df['About']=df['About'].apply(lambda x: " ".join(x))

In [37]:
df.head(1)['About'].values

array(['Centuries ago  mankind was slaughtered to near extinction by monstrous humanoid creatures called Titans  forcing humans to hide in fear behind enormous concentric walls. What makes these giants truly terrifying is that their taste for human flesh is not born out of hunger but what appears to be out of pleasure. To ensure their survival Action Drama Spring 2013 ProductionI.G Dentsu Finished Airing WitStudio TV 25.0 8.531  Shounen R-17+(violence&profanity)'],
      dtype=object)

TEXT VECTORIZATION .HERE AFTER APPLYING THE BAGS OF WORD METHOD I USE THE VECTORIZATION TECHNIQUE

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [39]:
vectors=cv.fit_transform(df['About']).toarray()

In [40]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [41]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

I USED THE COSINE SIMILARITY TO SEE THE SIMILARITY AMONG THE WORDS PRESENT IN MY ABOUT COLUMN DATA'S

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
sim=cosine_similarity(vectors)

In [44]:
sim[0]

array([1.        , 0.29308032, 0.28242289, ..., 0.04417261, 0.05702659,
       0.04763255])

AFTER DOING THE VECTORIZATION YOU CAN SE THE ID NO. AND THE SIMILARIY PROPORTION OF THOSE ANIME WHICH IS SIMILAR TO THE FIRST ONE ..

In [45]:
sorted(list(enumerate(sim[0])),reverse=True,key=lambda x:x[1])[1:11]

[(11, 0.4594229188737667),
 (1622, 0.44172610429938614),
 (17, 0.42074453508991083),
 (1676, 0.4166547104932136),
 (1454, 0.38413666267326807),
 (2117, 0.38413666267326807),
 (26, 0.3749701088039062),
 (214, 0.3749701088039062),
 (1244, 0.3606678538669729),
 (551, 0.34215956910732054)]

HERE AFTER DOING THE ALL THING THE THE SIMILAR ANIME ACCODRING TO THE SEARCH ONE IS

In [46]:
def recomnd(anime):
    ani_index=df[df['English']==anime].index[0]
    dis=sim[ani_index]
    ani_list=sorted(list(enumerate(dis)),reverse=True,key=lambda x:x[1])[1:10]
    
    for i in ani_list:
     print(df.iloc[i[0]].English)

In [47]:
df['English'].values

array(['Attack on Titan', 'Death Note', 'Fullmetal Alchemist Brotherhood',
       ..., 'Unknown', 'Unknown', 'Unknown'], dtype=object)

EXAMPLE ARE HERE..

In [48]:
recomnd('One Punch Man')

One Punch Man Season 2
Unknown
Drifters
Black Lagoon The Second Barrage
Juni Taisen Zodiac War
Seraph of the End Battle in Nagoya
Blood Blockade Battlefront
Gangsta.
Unlimited Psychic Squad

In [49]:
recomnd('Banana Fish')

Fullmetal Alchemist
Goblin Slayer
Galilei Donna Storia di tre sorelle a caccia di un mistero
JoJo's Bizarre Adventure Golden Wind
Rage of Bahamut Virgin Soul
Attack on Titan Season 2
Gangsta.
No. 6
JoJo's Bizarre Adventure Stardust Crusaders - Battle in Egypt

In [50]:
df.iloc[227].English

'Seraph of the End Battle in Nagoya'

In [51]:
df[df['English']=='One Punch Man'].index[0]

3

After that i dumped a the model by using joblib

In [52]:
import joblib as j

In [53]:
j.dump(df,open('anime_li','wb'))

In [54]:
df

,ID,English,About
0,16498,Attack on Titan,Centuries ago mankind was slaughtered to near...
1,1535,Death Note,Brutal murders petty thefts and senseless vi...
2,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...
3,30276,One Punch Man,The seemingly unimpressive Saitama has a rathe...
4,11757,Sword Art Online,Ever since the release of the innovative Nerve...
...,...,...,...
12932,41763,O Light,Unknown Unknown Unknown Unknown Finished Airin...
12933,51893,Unknown,Animated music video for the song Mr. by YOASO...
12934,41308,Unknown,Greenlights Serenade is an original song by Om...
12935,51573,Unknown,Music video for the song Heart Beat by AZKi. U...
12936,52454,Unknown,Unknown Unknown Unknown Unknown Finished Airin...

In [57]:
j.dump(sim,open('similarity','wb'))